.paginationContainer {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginationContainer * {
    box-sizing: border-box;
}

.pagination {
    width: fit-content;
    padding: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination * {
    margin: 0 20px;
}

.paginationButton {
    padding: 10px 20px;
    border: 2px solid #eee;
    cursor: pointer;
} .paginationButton:hover {
    opacity: 0.8;
}

.paginationNumbers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginationNumber {
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
} .paginationNumber:hover {
    opacity: 0.8;
    border: 1px solid #eee;
}

.selectedPageNumber {
    border: 2px solid #b6eeff;
    background-color: #e6f9ff;
}

.invisibleButton {
    visibility: hidden;
}