.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 7;
}

.modal {
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 1280px;
  max-width: 90%;
  padding: 1.5rem;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

.modalHeader span {
  font-size: 1.5rem !important;
  font-weight: bold;
  cursor: pointer;
}

.modalContent {
  max-height: 50vh;
  margin: 1.5rem 0;
  overflow-y: scroll;
}

.modalContent label {
  display: block;
  margin-bottom: 0.5rem;
}

.modalContent input {
  width: 100%;
  height: 48px;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.modalContent div {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.modalContent button {
  background: rgb(0, 140, 255);
  height: 48px;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.modalContent button:hover {
  background: rgb(0, 120, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.customerTable {
  width: 100%;
  max-width: 100%;
  margin: 1rem 0;
  padding: 0 1rem;
  background-color: #fff;
  border-collapse: collapse;
  border: 1px solid #dee2e6;
  table-layout: fixed;
  word-wrap: break-word;
  border-radius: 0.25rem 0.25rem 0 0;
}

.customerTable thead {
  background-color: #e9ecef;
  border-bottom: 2px solid #dee2e6;
  border-top: 0.25px solid #dee2e6;
  text-align: left;
}

.customerTable thead th {
  font-size: 0.95rem;
  color: #212529;
  line-height: 1.6;
  padding: 0.75rem;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.customerTable tbody tr {
  border-bottom: 1px solid #dee2e6;
}

.customerTable tbody tr:last-child {
  border-bottom: 0;
}

.customerTable tbody td,
.customerTable thead td {
  font-size: 0.85rem;
  color: #212529;
  line-height: 1.6;
  padding: 0.8rem;
  vertical-align: top;
}

.customerTable thead td {
  font-weight: 600;
}

.customerTable tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.customerTable th:first-child,
.customerTable td:first-child {
  width: 10%;
}

.customerTable th:last-child,
.customerTable td:last-child {
  width: 10%;
}

.customerTable th:nht-child(3),
.customerTable td:nht-child(3) {
  width: 10%;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.customerTable button {
  height: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 0;
  padding: 0;
}

.customerTable button:hover {
  color: #007bff;
  background-color: transparent;
}

.customerTable td > div {
  margin-left: 0.5rem;
  margin-bottom: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
